<header pageTitle="{{ 'btnmanagelab' | translate }}" imageUrl="star"></header>
<mat-tab-group>
  <mat-tab label="{{ 'btnworkflow' | translate }}">
    <mat-tab-group>
      <mat-tab label="Patient Booking">
          <pbook></pbook>
      </mat-tab>
      <mat-tab label="Sample Collection">
      </mat-tab>
      <mat-tab label="Worklist">
      </mat-tab>
      <mat-tab label="Interfacing">
      </mat-tab>
      <mat-tab label="Patient Result">
      </mat-tab>
      <mat-tab label="Patient Report">
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="{{ 'btnoutsource' | translate }}">
  </mat-tab>
  <!--
  <mat-tab label="{{ 'btneinventory' | translate }}">
  </mat-tab>
  <mat-tab label="{{ 'btnreports' | translate }}">
  </mat-tab>
  -->
  <mat-tab label="{{ 'btnotherservices' | translate }}">
    <mat-tab-group>
      <mat-tab label="{{ 'btnnc' |translate }}">
        <non-conformance></non-conformance>
      </mat-tab>
      <mat-tab label="{{ 'btnemails'| translate }}">
          <pbook></pbook>
      </mat-tab>
      <mat-tab label="{{ 'btnprocesstime' | translate }}">
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>