<header pageTitle="{{ 'btncustomer' | translate }}" imageUrl="star"></header>
<mat-tab-group>
  <mat-tab label="{{ 'btncustomer' | translate }}">
    <mat-tab-group>
      <mat-tab label="{{ 'btncustomer' | translate }}">
        <customer></customer>
      </mat-tab>
      <mat-tab label="{{ 'btnleads' | translate }}">
        <lead></lead>
      </mat-tab>
      <mat-tab label="{{ 'btnsales' | translate }}">
        <sales></sales>
      </mat-tab>
      <mat-tab label="{{ 'btnworkorders' | translate }}">
        <workorder></workorder>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="{{ 'btnhelpdesk' | translate }}">
    <mat-tab-group>
      <mat-tab label="{{ 'btncalls' | translate }}">
        <calls></calls>
      </mat-tab>
      <mat-tab label="{{ 'btnemails' | translate }}">
        <cemail></cemail>
      </mat-tab>
      <mat-tab label="{{ 'btnenquiry' | translate }}">
        <enquiry></enquiry>
      </mat-tab>
      <mat-tab label="{{ 'btnvisit' | translate }}">
        <visit></visit>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <!--
  <mat-tab label="{{ 'btneinventory' | translate }}">
  </mat-tab>
  <mat-tab label="{{ 'btnreports' | translate }}">
  </mat-tab>
  -->
  <mat-tab label="{{ 'btnadmin' | translate }}" disabled>
  </mat-tab>
</mat-tab-group>