<header pageTitle="{{ 'btnsettings' | translate }}" imageUrl="account_circle"></header>
<mat-card>
  <mat-card-title align="center">
    <mat-icon aria-setsize="2">lock</mat-icon>
  </mat-card-title>
  <mat-card-actions align="start">
    <mat-error *ngIf="error">{{ error }}</mat-error>
  </mat-card-actions>
  <mat-card-content>
    <mat-chip-list class="mat-chip-list-stacked">
      <!--
      <mat-chip color="primary" selected="true" (click)="loginFb()">
        Login With Facebook
      </mat-chip>
      -->
      <mat-chip color="warn" selected="true" (click)="loginGoogle()">
        Login With Google
      </mat-chip>
      <mat-chip routerLink="/email">
        Login with Email
    </mat-chip>
    </mat-chip-list>
    <br><br><br>
  </mat-card-content>
  <mat-card-actions align="start">
    <a routerLink="/signup" class="small-headline">No account? <strong>Create one with your email here</strong></a>
  </mat-card-actions>
</mat-card>
<br><br><br><br><br><br><br><br><br><br>
<footer></footer>